# Example of Generating Sample Data
Example of generating sample data using the `generate_sample_df` function.

In [1]:
from generate_sample_df import create_sample_data

In [2]:
# Sample with default arguments
df_1 = create_sample_data()

In [3]:
df_1

,name,address,email,city,phone,country,credit_card_no,credit_card_expire,date_time,random_int
0,Sherry Gray,"04697 Harrison Camp\nMatthewfort, IL 80311",stewartshane@example.org,Alexanderhaven,(897)865-8021x74255,Micronesia,6011769503915054,04/27,1997-08-11 04:43:23,4358
1,Tina Walters,"0861 Johnson Islands\nStephanieton, WV 74109",rodriguezbryan@example.com,Roberttown,+1-261-253-1086x8424,Singapore,6528581296602708,04/29,2000-08-08 22:44:29,1538
2,Andrew Mason,"95158 Sarah Valleys\nPort Rachel, NM 96257",williamchang@example.org,Watersview,001-975-638-2909x975,Qatar,3505756553753261,06/24,1998-03-23 02:30:18,371
3,Ryan Hart,"PSC 4502, Box 1067\nAPO AP 17788",john78@example.net,Nicholsfort,+1-255-390-7894,Romania,3556314426560907,11/31,2015-11-07 15:22:28,3480
4,Jennifer Moody,"72333 John Fords Apt. 600\nDouglasside, AK 05985",brownryan@example.net,Lake Olivia,(424)145-3805x27363,Malawi,4683617042712171,05/29,2007-07-21 01:38:43,1526
...,...,...,...,...,...,...,...,...,...,...
4995,Sheena Parker,"76913 Ramirez Row Suite 073\nNorth Joann, CT 5...",ljohnson@example.org,Ronaldton,685-113-9513x2812,Pitcairn Islands,4402750129264756,12/28,2001-02-14 10:55:42,13
4996,Matthew Oconnor,"4602 John Place\nSummersmouth, FM 33727",montesanthony@example.net,East Cindyland,468-536-2658x27160,United States Virgin Islands,6568409492334051,05/25,2004-04-07 01:24:48,839
4997,Kayla Crane,"23025 Holly Locks\nWest Edwinburgh, MA 10398",wagnervanessa@example.net,Port Elizabethmouth,028-096-7905x74851,Jamaica,3584349707996962,09/32,2022-03-31 16:24:14,143
4998,Lori Bush,"719 George Course\nPort Calebburgh, NE 56772",rebecca38@example.com,Port Whitney,001-822-834-5967x867,Sri Lanka,345755815047579,03/24,2015-04-03 15:58:44,1303
4999,Mary Weaver,"68071 Johnson Hills\nLake Brittany, NY 16787",joseph83@example.net,Amberland,001-742-449-7894,Ukraine,6011680274924862,07/32,1992-10-19 02:41:19,420